<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1>Example 1</h1>
    </div>
    <div class="col-12 col-lg-6">
      <div class="box red d-flex justify-content-center align-items-center">
        Col 1
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="box gray d-flex justify-content-center align-items-center">
        Col 2
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h1>Example 2</h1>
    </div>
    <div class="col-12 col-lg-8">
      <div class="box red d-flex justify-content-center align-items-center">
        Col 1
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="box gray d-flex justify-content-center align-items-center">
        Col 2
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h1>Example 3</h1>
    </div>
    <div class="col-12">
      <div class="box red d-flex justify-content-center align-items-center">
        Col 1
      </div>
    </div>
    <div class="col-8">
      <div class="box gray d-flex justify-content-center align-items-center">
        Col 2
      </div>
    </div>
    <div class="col-4">
      <div class="box black d-flex justify-content-center align-items-center">
        Col 2
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h1>Example 4</h1>
    </div>
    <div class="col-3">
      <div class="box2 black">Item 1</div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-9">
          <div class="box red d-flex justify-content-center align-items-center">
            Item 2
          </div>
        </div>
        <div class="col-3">
          <div
            class="box black d-flex justify-content-center align-items-center"
          >
            Item 3
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div
            class="box black d-flex justify-content-center align-items-center"
          >
            Item 4
          </div>
        </div>
        <div class="col-9">
          <div
            class="box gray d-flex justify-content-center align-items-center"
          >
            Item 5
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
