<mat-drawer-container class="example-container">
  <mat-drawer #drawerRef>
    <div class="logo-container">
      <svg class="logo-svg" viewBox="0 0 24 24">
        <path
          fill="var(--light-purple)"
          d="M8,16.61V15.37L14,11.91V7.23L9,10.12L4,7.23V13L3,13.58L2,13V5L3.07,4.38L9,7.81L12.93,5.54L14.93,4.38L16,5V13.06L10.92,16L14.97,18.33L20,15.43V11L21,10.42L22,11V16.58L14.97,20.64L8,16.61M22,9.75L21,10.33L20,9.75V8.58L21,8L22,8.58V9.75Z"
        />
      </svg>
    </div>
    <div class="nav-links-container">
      <mat-nav-list>
        <a mat-list-item (click)="this.navigateToRoute('grid')">
          <mat-icon matListIcon>view_quilt</mat-icon>
          <div mat-line>Grid</div>
        </a>
        <a mat-list-item (click)="this.navigateToRoute('table')">
          <mat-icon matListIcon>table_view</mat-icon>
          <div mat-line>Table</div>
        </a>
        <a mat-list-item (click)="this.navigateToRoute('form')">
          <mat-icon matListIcon>list_alt</mat-icon>
          <div mat-line>Form</div>
        </a>
        <a mat-list-item (click)="this.logOut()" style="margin-top: 1rem">
          <mat-icon matListIcon>exit_to_app</mat-icon>
          <div mat-line>Log Out</div>
        </a>
      </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar *ngIf="this.isMobileLayout" color="primary">
      <button
        mat-icon-button
        aria-label="Example icon-button with menu icon"
        (click)="drawerRef.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ this.componentInfoService.currentComponentHeading }}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button aria-label="Log out icon" (click)="this.logOut()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
